<section class="404">
  <div class="row page-header"></div>
  <div class="row">
    <div class="col 12">
      <div class="card-outer">
        <div class="card-content ">
          <div class="row">
            <div class="text-centered">
              <div class="col-sm-12 ">

                <h1>Oops!</h1>
              </div>
              <div class="col-sm-12 ">
                <h2>404 - Page not found</h2>
              </div>

              <div class="col-sm-12">
                <p>The page you are looking for might have been removed<br>, had its name changed or is temporarily
                  unavailable</p>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>