
      <mat-toolbar class="bg-dark" id="top-admin" >
        <mat-toolbar-row>
          <button mat-icon-button class="button-style" (click)="toggleSideBar()">
            <mat-icon>menu</mat-icon>
          </button>
          <span class="spacer"></span>
          <span>CAPEP KENYAS</span>
      
          <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
            <ul fxLayout="row" fxLayoutGap="20px" class="list">
             
              <li>
                <button mat-button class="button-style-list">
                  <mat-icon>account_circle</mat-icon> {{userName}}
                </button>
                <button mat-button  class="button-style-list" (click)="openmodal()">
                  
                  <mat-icon>logout</mat-icon> Logout
                </button>
              </li>
            </ul>
          </div>
        </mat-toolbar-row>
      </mat-toolbar>
      


