mat-toolbar{
    color:#fff;
    font-weight: 600;
}

mat-menu{
    background-color:rgb(52, 58, 64);
}

.mat-menu-content:not(:empty) {
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: rgb(52, 58, 64);
}

.button-style{
    background-color:rgb(52, 58, 64);
    color:white;
    padding:0px 0px 10px 0px
}

.button-style:hover{
    
    color: #0a75a7;
    
   
    border-radius: 0px;
}

.button-style-list{
    background-color:rgb(52, 58, 64);
    color:white;
    padding: 5px 10px;
    font-size: 15px;
    border:none;
    margin-top:10px
}

.button-style-list:hover{
    color: #0a75a7;
    
}

.spacer{
    margin-left:20px
}
ul.list{
    list-style-type: none;
} 