<section class="branch">
    <div class="row page-header">
        <h1><i class="fa fa-dashboard"></i> Admin Dashboard</h1>
    </div>
    <div class="card-outer">
        <div class="card-content">
            <div class="row">
                <!--Content-->
                <div class="col-sm-12">
                    <div class="row"> <!--Card 1 branches-->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100
                                py-2">
                                <div class="card-body">
                                    <div class="row no-gutters
                                        align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold
                                                text-primary text-uppercase
                                                mb-1"> Branch
                                                Total:
                                            </div>
                                            <div class="h5 mb-0 font-weight-bold
                                                text-gray-800">
                                                {{branches_count}}
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fa fa-bank fa-2x
                                                text-gray-300"> </i> </div>
                                    </div> </div> </div>
                        </div>
                        <!--Card 2 groups-->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-success shadow h-100
                                py-2">
                                <div class="card-body">
                                    <div class="row no-gutters
                                        align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold
                                                text-success text-uppercase
                                                mb-1"> Total
                                                Groups:
                                            </div>
                                            <div class="h5 mb-0 font-weight-bold
                                                text-gray-800">
                                                {{groups_count}}
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fa fa-group fa-2x
                                                text-gray-300"> </i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Card 2 membership-->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-info shadow h-100
                                py-2">
                                <div class="card-body">
                                    <div class="row no-gutters
                                        align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold
                                                text-info text-uppercase mb-1">
                                                Active
                                                Accounts:
                                            </div>
                                            <div class="h5 mb-0 font-weight-bold
                                                text-gray-800">
                                                {{members_count}}
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fa
                                                fa-address-book fa-2x
                                                text-gray-300"> </i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Card 4 membership-->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card
                                border-left-warning shadow h-100 py-2">
                                <div
                                    class="card-body">
                                    <div class="row
                                        no-gutters align-items-center">
                                        <div
                                            class="col mr-2">
                                            <div class="text-xs
                                                font-weight-bold text-warning
                                                text-uppercase mb-1"> Savings
                                                Total:
                                            </div>
                                            <div class="h5
                                                mb-0 font-weight-bold
                                                text-gray-800">
                                                KShs.{{_total_savings}
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fa
                                                fa-dollar fa-2x text-gray-300">
                                            </i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>