<div id="modal-content-wrapper">
  <header id="modal-header">
    <h1 id="modal-title">Logout <i class="fa fa-lock"></i></h1>
    <hr>
  </header>
  
  <section id="modal-body">
    <p>Are you sure you want to logout?</p>
  </section>
  
  <footer id="modal-footer">
    <hr>
    <button class="btn btn-outline-primary" (click)="actionFunction()"><i class="fas fa-power-off"></i> Logout</button>
    <button  class="btn btn-outline-danger" (click)="closeModal()"><i class="fas fa-close"></i> Cancel</button>
  </footer>
</div>
