<section class="branch">
  <div class="row page-header">
    <h1>Staff Manager</h1>
  </div>
  <div class="row">
    <div class="col 12">
      <div class="card-outer">
        <div class="card-content">
          <div class="row">
            <div class="card-top">
              <button class="btn btn-outline-secondary fa fa-2x fa-plus-circle"
                (click)="createNewStaff()">
                New Staff
              </button>
              <button class="btn btn-outline-secondary fa fa-2x fa-list"
                (click)="showStafflist()"> Manage Staff</button> </div>
          </div>
          <hr>
          <router-outlet>
          </router-outlet>
        </div>
      </div>
    </div>
  </div>
</section>