<section class="branch"> <div class="row page-header"> <h1>User Accounts</h1>
  </div> <div class="row"> <div class="col-sm-12"> <div class="card-outer"> <div
          class="card-content"> <button class="btn btn-outline-secondary fa fa-2x
            fa-plus-circle"(click)="showUsercreate()"> New Account</button>
          <button class="btn btn-outline-secondary fa fa-2x fa-list"(click)="showUserlist()">
            Manage Accounts</button> </div> <hr> <router-outlet></router-outlet>
      </div> </div> </div> </section>